In [1]:
#importing libraries required for web scrapping

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#url to scrape

url = "http://quotes.toscrape.com/page/1/"

In [3]:
response = requests.get(url)

In [4]:
response = response.content

In [5]:
soup = BeautifulSoup(response,'html.parser')

In [7]:
div = soup.find('div')

In [9]:
contents = div.find_all('div',class_ = 'quote')

for content in contents:
    quote = content.find('span').text
    print(quote)

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
“Try not to become a man of success. Rather become a man of value.”
“It is better to be hated for what you are than to be loved for what you are not.”
“I have not failed. I've just found 10,000 ways that won't work.”
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
“A day without sunshine is like, you know, night.”

In [11]:
for content in contents:
    author_name = content.find('small').text
    print(author_name)

Albert Einstein
J.K. Rowling
Albert Einstein
Jane Austen
Marilyn Monroe
Albert Einstein
André Gide
Thomas A. Edison
Eleanor Roosevelt
Steve Martin

In [12]:
for content in contents:
    meta = content.find('meta')
    tags = meta.attrs['content']
    print(tags)

change,deep-thoughts,thinking,world
abilities,choices
inspirational,life,live,miracle,miracles
aliteracy,books,classic,humor
be-yourself,inspirational
adulthood,success,value
life,love
edison,failure,inspirational,paraphrased
misattributed-eleanor-roosevelt
humor,obvious,simile

In [13]:
contents = div.find_all('div',class_ = 'quote')

Content = []

for content in contents:
    author_name = content.find('small').text
    quote = content.find('span').text
    meta = content.find('meta')
    tags = meta.attrs['content']
    Content.append([author_name,quote,tags])

In [14]:
Content = []

for i in range(1,10):
  url = f"http://quotes.toscrape.com/page/{i}/"
  response = requests.get(url)
  response = response.content
  soup = BeautifulSoup(response,'html.parser')
  div = soup.find('div')
  contents = div.find_all('div',class_ = 'quote')
  for content in contents:
    author_name = content.find('small').text
    quote = content.find('span').text
    meta = content.find('meta')
    tags = meta.attrs['content']
    Content.append([author_name,quote,tags])

In [15]:
df = pd.DataFrame(Content,columns = ['Author Name','Quote','Tags'])

In [16]:
df.head(20)

,Author Name,Quote,Tags
0,Albert Einstein,“The world as we have created it is a process ...,"change,deep-thoughts,thinking,world"
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","abilities,choices"
2,Albert Einstein,“There are only two ways to live your life. On...,"inspirational,life,live,miracle,miracles"
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","aliteracy,books,classic,humor"
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","be-yourself,inspirational"
5,Albert Einstein,“Try not to become a man of success. Rather be...,"adulthood,success,value"
6,André Gide,“It is better to be hated for what you are tha...,"life,love"
7,Thomas A. Edison,"“I have not failed. I've just found 10,000 way...","edison,failure,inspirational,paraphrased"
8,Eleanor Roosevelt,“A woman is like a tea bag; you never know how...,misattributed-eleanor-roosevelt
9,Steve Martin,"“A day without sunshine is like, you know, nig...","humor,obvious,simile"
10,Marilyn Monroe,“This life is what you make it. No matter what...,"friends,heartbreak,inspirational,life,love,sis..."
11,J.K. Rowling,“It takes a great deal of bravery to stand up ...,"courage,friends"
12,Albert Einstein,"“If you can't explain it to a six year old, yo...","simplicity,understand"
13,Bob Marley,"“You may not be her first, her last, or her on...",love
14,Dr. Seuss,"“I like nonsense, it wakes up the brain cells....",fantasy
15,Douglas Adams,"“I may not have gone where I intended to go, b...","life,navigation"
16,Elie Wiesel,"“The opposite of love is not hate, it's indiff...","activism,apathy,hate,indifference,inspirationa..."
17,Friedrich Nietzsche,"“It is not a lack of love, but a lack of frien...","friendship,lack-of-friendship,lack-of-love,lov..."
18,Mark Twain,"“Good friends, good books, and a sleepy consci...","books,contentment,friends,friendship,life"
19,Allen Saunders,“Life is what happens to us while we are makin...,"fate,life,misattributed-john-lennon,planning,p..."

In [17]:
df.to_csv('Quotes_Scrapped.csv')